* text=auto

*.cs      text working-tree-encoding=UTF-8 eol=crlf diff=csharp
*.csproj  text eol=crlf
*.sln     text eol=crlf
*.json    text eol=lf
*.yml     text eol=lf
*.md      text eol=lf

*.png binary
